<%- include("partials/header") -%>

<h1>Your Result</h1>
<p>Your CEI (Collection Effectiveness Index) score is <%= cei %>%</p>
<br>
<form action="/" method="get">
  <button class="btn btn-warning btn-sm" type="submit" name="submit" value="back">Back to Main page</button>
</form>

<%- include("partials/footer") -%>
