<%- include("partials/header") -%>

<div class="main-container">
  <div class="column">
    <div class="col-sm-auto">
      <div class="col-md-auto flex justify-content-center">
        <h1>Your Result</h1>
        <p>Your CEI (Collection Effectiveness Index) score is
          <%= cei %>%</p>
        <br>
        <form action="/" method="get">
          <button class="btn btn-warning btn-sm" type="submit" name="submit" value="back">Back to Main page</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
