.jumbotron {
  text-align: center;
}

.main-container {
  text-align: center;
}

body {
  min-height: 100vh;
  position: relative;
  text-align: center;
	padding-bottom: 30px;
}

hr {
  border: dotted #e9ecef 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e9ecef;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
}
